@media screen and (min-width:601px) {
    .container01{
        padding: 0 100px;
    }
    .meisi01{
        margin-top: 40px;
        gap:20px 0px;
        text-align: center;
        border-bottom: solid 1px black;
        padding-bottom: 40px;
    }
    .meisi02{
        gap:20px 0px;
        text-align: center;
        border-bottom: solid 1px black;
        margin-top: 40px;
        padding-bottom: 40px;
    }
    .meisi03{
        gap:20px 0px;
        text-align: center;
        border-bottom: solid 1px black;
        margin-top: 40px;
        padding-bottom: 40px;
    }
    .meisi04{
        gap:20px 0px;
        text-align: center;
        margin-top: 40px;
        padding-bottom: 40px;
    }
    .layout01{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
    }
    .layout02{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
        margin:20px 0;
    }
    .box1{
        text-align: center;
        margin: -50px 40px;
        font-size: 30px;
        }
    h1{
        text-align: center;
        margin: 30px 0;
        font-size: 60px;
    }
    a {
        text-decoration:none;
    }
    .logo{
        width:720px;
    }
    h2{
    margin: -5px 0;
    }
    h6{
        font-family: a-otf-gothic-bbb-pr6n, sans-serif;
        font-weight: 400; 
        font-style: normal;
        margin: 10px 0;
        font-size: 15px;
    }
    }
    @media screen and (max-width:600px) {
        .container01{
            padding: 0 100px;
        }
        .meisi01{
            
            gap:20px 0px;
            text-align: center;
            border-bottom: solid 1px black;
            padding-bottom: 10px;
        }
        .meisi02{
            gap:20px 0px;
            text-align: center;
            border-bottom: solid 1px black;
            margin-top: 40px;
            padding-bottom: 10px;
        }
        .meisi03{
            gap:20px 0px;
            text-align: center;
            border-bottom: solid 1px black;
            margin-top: 40px;
            padding-bottom: 10px;
        }
        .meisi04{
           gap:20px 0px;
            text-align: center;
            margin-top: 40px;
            
        }
        .layout01{
            display:flex;
            flex-wrap:wrap;
            justify-content:space-evenly;
        }
        .layout02{
            display:flex;
            flex-wrap:wrap;
            justify-content:space-evenly;
        }
        .main{
            margin: 20px 40px;
        }
        .back{
            margin: 20px 40px;
        }
        .layout04{
        margin: -10px 0;
        }
        .main{
            width:45.5mm;
            height: 27.5mm;
            
        }
        .back{
            width:45.5mm;
            height: 27.5mm;
        }
        .box1{
            text-align: center;
            margin: -50px 40px;
            font-size: 30px;
            }
        h1{
            text-align: center;
            margin: 30px 0;
            font-size: 25px;
        }
        a {
            text-decoration:none;
        }
        .logo{
            width:240px;
        }
        h2{
        margin: -15px 0;
        font-size: 20px;
        }
        h6{
            font-family: a-otf-gothic-bbb-pr6n, sans-serif;
            font-weight: 400; 
            font-style: normal;
            
        }  
    }